doctype html
html
  head
    title Dana Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
          #logo 
            img(src="static/images3333.png")   
          li #[a(href="/DanceWebsite/") Home ]
          li #[a(href="/DanceWebsite/") About]
          li #[a(href="/DanceWebsite/contact") Contact Us]
          li #[a(href="/DanceWebsite/") Services] 
          li #[a(href="/DanceWebsite/") Class Info]
    block content
    footer#footer 
       | Copyright © 2021 DanaDanceAcademy.com. All rights reserved.
    //- script
    //-     include ../static/index.js
